<% layout("/layouts/boilerplate")%>
<body>
     <div class="row mt-4">
    
     <h2>create listings</h2>
        <div class="col-8 offset-2">
    <form method="post" action="/listings"  novalidate class="needs-validation" enctype="multipart/form-data">
        <!-- <h2>create listings</h2> -->
        <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input name="listing[title]" placeholder="enter titile" type="text" class="form-control" required>
       
        <div class="valid-feedback">this looks good</div>
      </div><br>
  
          <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea name ="listing[description]" row= "6" class="form-control" required></textarea>
                <div class="invalid-feedback">this looks good</div>

        </div><br>
      

         <!-- <div class="mb-3">
        <label for="image" class="form-label">image</label>
         <input name="listing[image]"  type="text" class="form-control" required > 
                 <div class="invalid-feedback">this looks good</div>

        </div> -->
        
         <div class="mb-3">
        <label for="image" class="form-label">upload listing image</label>
         <input name="listing[image]"  type="file" class="form-control" required > 
                 <div class="invalid-feedback">this looks good</div>
            required
        </div>
        
        
        <br>


         <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">price</label>
        <input name="listing[price]"  type="text" class="form-control" required> 
                <div class="invalid-feedback">this looks good</div>

        </div>
        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">country</label>
        <input name="listing[country]"  type="text" class="form-control" required>
                        <div class="invalid-feedback">this looks good</div>

        </div>
            </div>

         
            <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input name="listing[location]"  type="text" class="form-control" required>
                        <div class="invalid-feedback">this looks good</div>

        </div><br>
        
        
         <button class="btn btn-dark add-btn">add</button>

      <br><br>
    </form>
    </div>
    </div>
</body>
